@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.myButton{
  background-color: #fa7e25;

 color: black;
 outline: none;
 border: none;
}
.myButton:hover{
 background-color: #F4791F;
}
.myOutlineButton{
  border: 1px solid #F4791F;
  color: #ff6a00;
  }
  .myOutlineButton:hover{
      background-color: #F4791F;
  border: 1px solid #F4791F;
  color: black;
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
